body{
  min-height: 100vh;
  background: linear-gradient(#615dad, #ffc8da);
  display: flex;
  align-items: center;
  justify-content: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.piskvorky {
  width: 90vw;
  max-width: 400px;
  height: auto;
  color:   #ffffff;
}

/*jednotky vh a vw sú responzívne*/

.piskvorky__picture{
  width: 100%;
  border-radius: 7px 7px 0 0;

  /*obrázok sa roztiahne na veľkosť šírky svojho rodiča*/
}

.piskvorky__table{
  background-color: #283e50;
  border-radius: 7px 7px 0 0;
  width: 100%;
}

.piskvorky__title, 
.piskvorky__introduction{
  text-align: center;
  
}

.piskvorky__introduction{
  font-size: 1.1rem;
  padding: 0 1.5rem;
  font-family:  "Segoe UI", sans-serif;
  margin-bottom: 2rem;
}

.piskvorky__title{
  font-size: 3rem;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style : normal;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


.piskvorky__link{
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  
}

.piskvorky__button{
  width: 100%;
  height: 2rem;
  border-radius: 0;
  border: none;
  background-color: #1fcca4 ;
   
}

.piskvorky__button--blue{
  background-color: #0197f6;
  border-top: 0.5px solid black;
}

.piskvorky__button:hover{
  background-color: #1cbb96 ;
}

.piskvorky__button--blue:hover{
  background-color: #0090e9;
} 
